<!-- public/views/Login.html -->

<div class="jumbotron text-center" >
    <h1>Login</h1>
    <label>UserID: <input type="text" placeholder="Enter UserID" ng-model="user.userid"></input></label><br>
    <label>Password:<input type="password" placeholder="Enter Password" ng-model="user.password"></label><br>
    <label>User Name is: {{user.userid}}</label><br>
    <label>Password is: {{user.password}}</label><br>
    <input type="submit" id="submit" value="submit" ng-click="submit()"/>
    <p>Debug: {{user}}</p>
    <p>Success Message: {{message}}</p>
</div>
