<!-- public/views/Login.html -->

<div class="jumbotron text-center" >
    <h1>Login</h1>
    <label>UserID: <input type="text" placeholder="Enter UserID" ng-model="userID"></input></label><br>
    <label>Password:<input type="password" placeholder="Enter Password" ng-model="password"></label><br>
    <label>User Name is: {{userID}}</label><br>
    <label>Password is: {{password}}</label><br>
    <input type="submit" id="submit" value="submit" ng-click="submit()"/>
    <p>Debug: {{requestMsg}}</p>
    <p>Success Message: {{message}}</p>
</div>
