<!-- public/views/home.html -->
<div>
    <h1>Product Registration</h1>
    <table class="table">
      <tr>
        <td><label>Product Name:</label></td>
        <td><input type="text" ng-model="product.productname"></input></td>
      </tr>
      <tr>
        <td><label>Description:</label></td>
        <td><input type="text" ng-model="product.productdescription"></input></td>
      </tr>
      <tr>
        <td><label>Price:</label></td>
        <td><input type="text" ng-model="product.price"></input></td>
      </tr>
      <tr>
        <td><label>Effective from:</label></td>
        <td><input type="text" ng-model="product.effectivedate"></input>
        </tr>
      <tr>
        <td><label>Expiry Date:</label></td>
        <td><input type="text" ng-model="product.expirydate"></input></td>
      </tr>
      <tr>
        <td><label>Payment Instructions:</label></td>
        <td><input type="text" ng-model="product.paymentinstruction"></td>
      </tr>
      <tr>
        <td><label>Image name:</label></td>
        <td>
          <select size="1" ng-model="product.image">
          <option>DressDown.jpg</option>
          <option>Samosa.png</option>
          <option>Pizza.png</option>
          <option>unitedway.png</option>
        </select>
       </td>
        <!--
        <td><input type="text" ng-model="product.image"></input></td>
      -->
      </tr>
    </table>
    <input type="submit" id="submit" value="submit" class="pull-right" ng-click="submit()"/>
    <!--<p>Product JSON: {{product}}</p>
    <p>Success Message: {{message}}</p>-->

</div>
