<!-- public/views/home.html -->
<div class="jumbotron text-center" >
    <h1>Product Registration</h1>
    <label>Product Name: <input type="text" ng-model="product.productname"></input></label><br>
    <label>Description:<input type="text" ng-model="product.productdescription"></label><br>
    <label>price: <input type="text" ng-model="product.price"></input></label><br>
    <label>Effective from:<input type="text" ng-model="product.effectivedate"></label><br>
    <label>Expiry Date: <input type="password" ng-model="product.expirydate"></input></label><br>
    <label>Payment Instructions:<input type="text" ng-model="product.paymentinstruction"></label><br>
    <label>Image name: <input type="text" ng-model="product.image"></input></label><br>
    <p>Product JSON: {{product}}</p>
    <p>Success Message: {{message}}</p>
    <input type="submit" id="submit" value="submit" ng-click="submit()"/>
</div>
