<!-- public/views/home.html -->

<div>
    <h1>Registration</h1>
    <table class="table">
      <tr>
        <td><label>UserID:</label></td>
        <td><input type="text" ng-model="user.userid"></input></td>
      </tr>
      <tr>
        <td><label>First Name:</label></td>
        <td><input type="text" ng-model="user.firstname"></input></td>
      </tr>
      <tr>
        <td><label>Last Name:</label></td>
        <td><input type="text" ng-model="user.lastname"></input></td>
      </tr>
      <tr>
        <td><label>Email:</label></td>
        <td><input type="text" ng-model="user.email"></input></td>
      </tr>
      <tr>
        <td><label>Password:</label></td>
        <td><input type="password" ng-model="user.password"></input></td>
      </tr>
      <tr>
        <td><label>Address L1:</label></td>
        <td><input type="text" ng-model="user.addressL1"></input></td>
      </tr>
      <tr>
        <td><label>Address L2:</label></td>
        <td><input type="text" ng-model="user.addressL2"></input></td>
      </tr>
      <tr>
        <td><label>Phone:</label></td>
        <td><input type="text" ng-model="user.phone"></input></td>
      </tr>
      <tr>
        <td><label>Comments:</label></td>
        <td><input type="text" ng-model="user.comments"></input></td>
      </tr>
    </table>
    <div class="row">
      <p><a href="/Login" class="pull-left" ng-click="login()">Already Registered? Login Here</a></p>
      <input type="submit" id="submit" value="submit" class="pull-right" ng-click="submit()"/>
    </div>
    <!--<p>User JSON: {{user}}</p>
    <p>Success Message: {{message}}</p>-->

</div>
