html, body {
   margin: 0;
   padding: 0;
}

body {
   font-family: Arial, serif;
}

.container {
   margin-bottom: 80px;
}

.header h1 {
   color: #000;
   font-size: 30px;
   font-weight: bold;
   text-transform: lowercase;
}
